@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.ff_inter{
    font-family: "Inter", sans-serif;
}
.svg_hover{
    transition: 2s;
}

.svg_hover:hover svg path{
    opacity: 100%;
    transition: 2s all
}